---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import BlurTop from "../components/BlurTop.astro";
import BlurBottom from "../components/BlurBottom.astro";
import Botones from "../components/Botones.astro";
---

<Layout title="Welcome to Astro." >
  <BlurTop />
  <main class="">
    <Hero />
    


  </main>
  <BlurBottom />
</Layout>
