---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <main class="blur">
    <div class="absolute ">
      <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        recusandae quas illum, architecto dolor possimus consequuntur voluptas
        enim qui culpa? Sint aliquam dolor pariatur sapiente expedita natus
        fugiat asperiores temporibus?Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Praesentium recusandae quas illum, architecto dolor
        possimus consequuntur voluptas enim qui culpa? Sint aliquam dolor
        pariatur sapiente expedita natus fugiat asperiores temporibus?Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        recusandae quas illum, architecto dolor possimus consequuntur voluptas
        enim qui culpa? Sint aliquam dolor pariatur sapiente expedita natus
        fugiat asperiores temporibus?Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Praesentium recusandae quas illum, architecto dolor
        possimus consequuntur voluptas enim qui culpa? Sint aliquam dolor
        pariatur sapiente expedita natus fugiat asperiores temporibus?Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        recusandae quas illum, architecto dolor possimus consequuntur voluptas
        enim qui culpa? Sint aliquam dolor pariatur sapiente expedita natus
        fugiat asperiores temporibus?Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Praesentium recusandae quas illum, architecto dolor
        possimus consequuntur voluptas enim qui culpa? Sint aliquam dolor
        pariatur sapiente expedita natus fugiat asperiores temporibus?
      </h1>
    </div>
  </main>
  <Hero />
</Layout>
