---

---

<!-- contiene la clase `mask-blur-bottom` que aplica un efecto de desenfoque en la parte inferior de la pantalla. -->

<div class="fixed inset-x-0 bottom-0 h-[400px] isolate z-10">
  <div class="mask-blur-bottom absolute inset-0 backdrop-blur-[1px]"></div>
  <div class="mask-blur-bottom absolute inset-0 backdrop-blur-[2px]"></div>
  <div class="mask-blur-bottom absolute inset-0 backdrop-blur-[3px]"></div>
  <div class="mask-blur-bottom absolute inset-0 backdrop-blur-[6px]"></div>
  <div class="mask-blur-bottom absolute inset-0 backdrop-blur-[12px]"></div>
</div>
