<div class=" flex justify-end w-full z-50 pr-4   ">
    <div class=" flex justify-center p-4 gap-x-2 ">
        <button class=" rounded-full border-[3px]  z-50 border-double flex justify-center items-center bg-white/40 backdrop-blur-sm hover:scale-75   ">
            <a class=" p-2" href="">Pages</a>
        </button>
        <button class=" z-50 rounded-full border-[3px] border-double flex justify-center items-center bg-white/40 backdrop-blur-sm hover:scale-75 ">
            <a class=" p-2" href="">Theme</a>
        </button>
    
    </div>
</div>