---
import BlurTop from "./BlurTop.astro";
import BlurBottom from "./BlurBottom.astro";
---

<section class="relative mb-16 sm:mb-32 bg-light-sun">
  <article class="mt-12 font-bold text-2xl">
    consectetur adipisicing elit. Repudiandae, delectus in perspiciatis
    doloribus asperiores ab adipisci aspernatur accusamus, facilis numquam animi
    vel, officia saepe nemo temporibus atque dicta architecto harum? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Aperiam fugit neque magnam
    cumque ipsa dolorum assumenda saepe vero libero. Excepturi impedit itaque
    voluptat
    <br>
    <br>

    facilis minus nemo illum provident tenetur? Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Repudiandae, delectus in perspiciatis
    doloribus asperiores ab adipisci aspernatur accusamus, facilis numquam animi
    vel, officia saepe nemo temporibus atque dicta architecto harum? Lorem ipsum
    <br>
    <br>
    <img src="/public/favicon.svg" alt="">
    <h1  class=" text-purple-300"> ESTO ES APENAS UNA PRUEBA de diseño para el proximo cliente o proyecto del clon de un portafolio de creador de contenido  y saber si FUNCIONA EN SAFARI Y EN CHROME EL EFECTO bg-lights-sun </h1>

    <br>
    <br>
    dolor sit amet consectetur adipisicing elit. Aperiam fugit neque magnam
    cumque ipsa dolorum assumenda saepe vero libero. Excepturi impedit itaque
    voluptate vero tenetur similique? Alias quia dolore culpa! Lorem ipsum
    <br>
    <br>
    dolor, sit amet consectetur adipisicing elit. Repudiandae perferendis eius
    error quasi totam quod illum deleniti debitis modi dolore optio laudantium,
    consectetur distinctio, cum,
  </article>
</section>
<BlurTop />
<BlurBottom />
