---
import BlurTop from "./BlurTop.astro";
import BlurBottom from "./BlurBottom.astro";
import Tarjeta from "./Tarjeta.astro";

---

<section class="relative mb-16 sm:mb-32 bg-light-sun">
  <article class="mt-12 font-bold text-2xl">
    doloribus asperiores ab adipisci aspernatur accusamus, facilis 

    <span class=" text-teal-400">adipisicing elit. Repudiandae, </span>consectetur delectus in perspiciatis
    doloribus asperiores ab adipisci aspernatur accusamus, facilis numquam animi

    <div class="flex justify-center">
      <img class="size-72" src="/favicon.svg" alt="" />
    </div>
    <Tarjeta />


    <h1 class=" text-teal-400 text-base">
      ESTO ES APENAS UNA PRUEBA de diseño para el proximo cliente o proyecto del
      clon de un portafolio de creador de contenido y saber si FUNCIONA EN
      SAFARI Y EN CHROME EL EFECTO bg-lights-sun
    </h1>

    
</section>
