---


---

<section class="relative mb-16 sm:mb-32 bg-light-sun mt-16">
  <div class=" flex justify-start backdrop-blur-md text-wrap px-6 lg:px-40 lg:pt-16  ">
    <div class=" flex flex-col gap-y-1">
      <img class=" size-14 lg:size-16 rounded-full object-cover" src="/public/imagenes/avatar.webp" alt="imagen de perfil">
      <h1 class=" font-bold text-2xl">Alan San</h1>
      <p >Soy un desarrollador web y frontend soy de Gdl mexico</p>
      <p>Trabajo actualemte en un restaurante argentino llamado La Matera</p>
      <div id="avalible" class="flex flex-row w-[240px]  items-center gap-x-1 border-[1px] border-gray-500/50 rounded-lg p-1 my-1">
        <div class=" h-2 w-2 bg-lime-300 rounded-full "></div>
        <p class=" font-medium">Disponible para nuevos proyectos</p>

      </div>
      <div class="flex flex-row w-[340px] mt-3 border rounded-full border-gray-600 justify-center ">
        <div class=" mx-auto"> Aqui mis accesos directos</div>
      </div>

    </div>
  </div>

    
</section>
<style>
  p{
   font-size: 16px;
   opacity: .8;
  }
  #avalible p{
   font-size: 13px;
   opacity: .8;
  }
</style>
